<section class="contact" id="contact">
    <div class="main-contact">
        <div class="contact-content">
            <h5>Useful Links</h5>
            <li><a href="#home">Home</a></li>
            <li><a href="#bangles">Bangles</a></li>
            <li><a href="#chains">Chains</a></li>
            <li><a href="#necklace">Necklace</a></li>
            <li><a href="#otherjewels">Other Jewellery</a></li>
            <li><a href="#aboutus">About Us</a></li>
            <li><a href="#contactUs">Contact Us</a></li>
        </div>

        <div class="contact-content">
            <li><a href="#">Shipping & Returns</a></li>
            <li><a href="#">Store Policy</a></li>
            <li><a href="#">Payment Methods</a></li>
        </div>

        <div class="contact-content">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Tel: 123-456-7890</a></li>
        </div>

    </div>

    
</section>
<hr>
<footer>
    <div class="foot container">
      <div class="footer-text">
        <p>&copy; 2023 Satya Collections. All rights reserved.</p>
        
      </div>
    </div>
  </footer>