<!--Different Categories-->
<div class="jewel-content">
    <h2 style="font-family: FrankRuhlLibre;">SHOP BY CATEGORY</h2>
  </div>
  
  <div class="gallery">
    <div class="content">
      <img src="assets/sample.jpg" alt="">
      <h5>BANGLES</h5>
      <p>View All &gt;</p>
    </div>
  
    <div class="content">
      <img src="assets/sample.jpg" alt="">
      <h5>HARAM</h5>
      <p>View All &gt;</p>
    </div>
  
    <div class="content">
      <img src="assets/sample.jpg" alt="">
      <h5>CHOKERS</h5>
      <p>View All &gt;</p>
    </div>
  
    <div class="content">
      <img src="assets/sample.jpg" alt="">
      <h5>EARRINGS</h5>
      <p>View All &gt;</p>
    </div>
  
    <div class="content">
      <img src="assets/sample.jpg" alt="">
      <h5>TIKKA</h5>
      <p>View All &gt;</p>
    </div>
  
    <div class="content">
      <img src="assets/sample.jpg" alt="">
      <h5>HIPBELTS</h5>
      <p>View All &gt;</p>
    </div>
  
    <div class="content">
      <img src="assets/sample.jpg" alt="" >
      <h5>OTHERS1</h5>
      <p>View All &gt;</p>
    </div>
  
    <div class="content">
      <img src="assets/sample.jpg" alt="">
      <h5>OTHERS2</h5>
      <p>View All &gt;</p>
    </div>
  </div>
  
  
  <!----shop start--->
  
  <div class="jewel-content">
    <h2>OUR NEW ARRIVALS</h2>
  </div>
  
  <section class="shop" id="shop">
    <div class="container">
      <div class="box">
        <a href="#"><img src="assets/showcase1.jpg" alt=""></a>
        <h4>product1</h4>
        <h5>₹1119</h5> 
        <div class="cart">
          <a href="#"><i class='bx bx-cart' ></i></a>
        </div>
        
      </div>
  
      <div class="box">
        <a href="#"><img src="assets/showcase2.jpg" alt=""></a>
        <h4>product2</h4>
        <h5>₹1119</h5>
        <div class="cart">
          <a href="#"><i class='bx bx-cart' ></i></a>
        </div>
      </div>
  
      <div class="box">
        <a href="#"><img src="assets/showcase3.png" alt=""></a>
        <h4>product3</h4>
        <h5>₹1119</h5>
        <div class="cart">
          <a href="#"><i class='bx bx-cart' ></i></a>
        </div>
      </div>
  
      <div class="box">
        <a href="#"><img src="assets/showcase4.jpeg" alt=""></a>
        <h4>product4</h4>
        <h5>₹1119</h5>
        <div class="cart">
          <a href="#"><i class='bx bx-cart' ></i></a>
        </div>
      </div>
  
      <div class="box">
        <a href="#"><img src="assets/showcase5.jpg" alt=""></a>
        <h4>product5</h4>
        <h5>₹1119</h5>
        <div class="cart">
          <a href="#"><i class='bx bx-cart' ></i></a>
        </div>
      </div>
  
      <div class="box">
        <a href="#"><img src="assets/showcase6.jpg" alt=""></a>
        <h4>product6</h4>
        <h5>₹1119</h5>
        <div class="cart">
          <a href="#"><i class='bx bx-cart' ></i></a>
        </div>
      </div>
  
    </div>
  </section>
  
  
  <!----about start--->
  <section class="about" id="about">
    <div class="about-content">
      <h2>OUR KEY</h2>
      <p>“We believe the world be a much more beautiful place if every individual felt beautiful and confident”.
        <br>
        A Woman is an epitome of love, bond of trust, happiness & joy. She is her best when she listens to her, like when she made embellish herself. <br>
        
        A women is Completely dressed with wearing a jewellery, We try to do our part in this, with the most amazing designed jewellery available at the most affordable prices to as many as possible. <br>
        
        Add our exquisite jewellery to your accessory collections to flaunt your distinct style. Wear with your traditional ensembles and look absolutely gorgeous.<br>
        With more than 10k happy customers in offline purchasing now we’re stepping online to spread happiness with many feminine. <br>
        <b>Find the perfect piece of jewelry to make your next occasion special.</b>
        <br>
        <b ># # # Buy all your accessories in one place “Satya Collections” # # #</b>
      </p>	
    </div>
  </section>
  